.App {
  
  text-align: center;
}

h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(132, 5, 5);
  margin-bottom: 80px;
}

 body {
  background-image: url("https://gomycodewebsite.blob.core.windows.net/website/img/web_3bf02c12d1.png");
 }
 iframe{

  border-radius: 10px;
 }